version: "3.9"

services:
  spark-master:
    build: .
    container_name: spark-master
    # Le nom d'hôte 'alfa' sera résolvable par le worker
    # grâce au réseau Docker.
    hostname: alfa 
    networks:
      - spark-net
    ports:
      - "8080:8080" # UI Master
      - "7077:7077" # RPC Master
    environment:
      - SPARK_NO_DAEMONIZE=true
      - SPARK_MODE=master # Force le mode master
      - HOSTNAME=alfa     # Le master s'annonce comme 'alfa'

  spark-worker:
    build: .
    container_name: spark-worker-local
    hostname: worker-local
    networks:
      - spark-net
    depends_on:
      - spark-master # S'assure que le master démarre avant
    environment:
      - SPARK_NO_DAEMONIZE=true
      - SPARK_MODE=worker # Force le mode worker
      # Le worker se connecte au service nommé 'alfa'
      - SPARK_MASTER_URL=spark://alfa:7077

networks:
  spark-net:
    driver: bridge