version: "3.9"

services:
  spark-node:
    build: .
    container_name: spark-node
    privileged: true
    # Définit le nom d'hôte du conteneur avec la variable ${HOSTNAME} de l'hôte
    hostname: ${HOSTNAME} 
    networks:
      - spark-net
    ports:
      - "8080:8080" # UI Master
      - "7077:7077" # Port RPC Master
    environment:
      - SPARK_NO_DAEMONIZE=true
      # ----- AJOUTS IMPORTANTS -----
      # Passe les variables de l'hôte (définies par vos scripts)
      # dans le conteneur.
      - SPARK_MODE=${SPARK_MODE}
      - SPARK_MASTER_URL=${SPARK_MASTER_URL}
      - HOSTNAME=${HOSTNAME} # Passe aussi le nom d'hôte pour le master

networks:
  spark-net:
    driver: bridge